#logInSection {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 100px;
  flex-direction: column;
  align-items: center;
}

#loginInput {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

#logInSection .form-control {
  border: none !important;
  background-color: #eaeaea !important;
  color: #606060;
  border-radius: 10px;
  min-width: 200px;
}

#logInSection .form-control:hover {
  color: #000;
}

#helpTxt {
  color: red !important;
}

#loginInput2 {
  margin-top: 20px;
}

input#loginInput2 {
  border: none !important;
  background-color: #eaeaea !important;
  color: #606060;
  border-radius: 10px;
  min-width: 200px;
  padding: 10px;
}

input#loginInput2:focus,
input:focus {
  outline: none;
}

#signUpBtn {
  margin-top: 20px;
}

#inputHelpTxt {
  color: red;
  text-align: center;
  font-size: 14px;
}
