#userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#savedTranslations {
}

#profileContainer {
}

#profileImageLarge {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-top: 20px;
  border: solid 1px #000;
}

#savedTranslationsList {
  max-width: 500px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
  list-style: none;
  border-top: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
}

#savedTranslationsList li {
  background-color: rgb(238, 238, 238);
  padding: 10px;
  border-bottom: solid 1px #ccc;
  color: rgb(92, 92, 92);
}

#savedTranslationsTitle {
  max-width: 500px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0;
  background-color: #b497d6;
  border: solid 1px #b497d6;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}

#clearTranslationsBtn {
  margin-left: 40px;
  margin-bottom: 80px;
}

#userNameTxt {
  margin-top: 20px;
  margin-bottom: 20px;
}

#profileGoToTranslationBtn {
  margin-bottom: 15px;
}
